:root {
    --light: #EEB76B;
    --maroon: #E2703A;
    --pink: #9C3D54;
    --dark: #310B0B;
}

.row {
    justify-content: center;
}

.row_spread {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.align_bot {
    align-items: baseline;
}

.img_rowfit {
    max-width: 50%;
    height: auto;
}